labLaboratorio/labLaboratorio/Service References/ServiceReference/ServicioBD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreTabla" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutarConsultaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ejecutarDML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ejecutarDMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ejecutarDMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutarConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutarConsulta" />
  </wsdl:message>
  <wsdl:message name="EjecutarConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutarConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="ejecutarDMLSoapIn">
    <wsdl:part name="parameters" element="tns:ejecutarDML" />
  </wsdl:message>
  <wsdl:message name="ejecutarDMLSoapOut">
    <wsdl:part name="parameters" element="tns:ejecutarDMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceBDSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarConsulta">
      <wsdl:input message="tns:EjecutarConsultaSoapIn" />
      <wsdl:output message="tns:EjecutarConsultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ejecutarDML">
      <wsdl:input message="tns:ejecutarDMLSoapIn" />
      <wsdl:output message="tns:ejecutarDMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceBDSoap" type="tns:ServiceBDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarConsulta">
      <soap:operation soapAction="http://tempuri.org/EjecutarConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ejecutarDML">
      <soap:operation soapAction="http://tempuri.org/ejecutarDML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceBDSoap12" type="tns:ServiceBDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarConsulta">
      <soap12:operation soapAction="http://tempuri.org/EjecutarConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ejecutarDML">
      <soap12:operation soapAction="http://tempuri.org/ejecutarDML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBD">
    <wsdl:port name="ServiceBDSoap" binding="tns:ServiceBDSoap">
      <soap:address location="http://localhost:40587/ServicioBD.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceBDSoap12" binding="tns:ServiceBDSoap12">
      <soap12:address location="http://localhost:40587/ServicioBD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>